<% layout("/layouts/boilerplate")%>
<body>
    
    <div class="offset-3" style="width: 30rem; ">
      <h1><%=detail.title%></h1>
        <img style="height: 15rem;" src="<%=detail.image.url%>" class="card-img-top" alt="isting_image">
        <div class="card-body">
          <p class="card-text">
      <i>Owned by <%=detail.owner.username%></i>
      <br/>     
    <li class="col-20"><%=detail.description%></li>
    <li>&#8377;<%=detail.price%></li>
    <li><%=detail.location%></li>
    <li><%=detail.country%></li>
          </p>
        </div>
        
        <div class="btns">
            <form action="/listings/<%=detail._id%>/edit"><button class="btn btn-dark col-2 offset-2">edit</button></form>
            <form method="post" action="/listings/<%=detail.id%>/delete?_method=delete">
                <button class="btn btn-dark  col-3 offset-3">delete</button></form>
        </div>
       
      <div class=" col-8  mb-3" >
        <hr>
        <h4>Leave a Review</h4>
        <form method="post" action="/listings/<%=detail.id%>/reviews" novalidate class="needs-validation">
          
          <div class="mb-3 mt-3">
            <label class="form-label" for="rating">Rating</label>
            <input type="range" min="1" max="5" name="review[rating]" class="form-range" >
          </div>
          <div class="mb-3 mt-3">
            <label class="form-label" for="comment">comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required ></textarea>
            <div class="invalid-feedback">pls submit some comments</div>
          </div>
          <button class="btn btn-outline-dark  ">Submit</button>
        </form>

        <hr/>
        <h4>all reviews</h4>
        <!-- <p><%=detail.reviews%></p> -->
     
   <div class="row">
    <%for(review of detail.reviews){%>
      <div class="card col-5 mb-3 ms-3">
        <div class="card-body">
          <h5 class="card-title"><%=review.author.username%></h5>
          <p class="card-text"><%=review.comment%></p>
          <p class="card-text"><%=review.rating %> stars</p>
         
          <form class="mb-3" method="post" action="/listings/<%=detail._id%>/reviews/<%=review._id%>?_method=delete">
            <button class="btn btn-sm btn-dark">delete</button>
          </form>
      </div>
    </div>
     <%}%>
    </div>

  </div>
</div>


   
   
    
    
</body>
